/*
key_size = 40;
ctrlkey_width = key_size*3 = 120;
key_margin = 2; (?)
row_margin = 2;
*/

.selector {
	display: none;
	margin: auto;
	width: 484px; /* (key_size + key_margin*2)*11 */
	height: 220px; /* (key_size + row_margin*2)*5 */
}

.selector .row, .selector .row5 {
	padding-top: 2px; /* row_margin */
	padding-bottom: 2px; /* row_margin */
}
.selector .row5 {
	margin: auto;
	width: 372px; /* (ctrlkey_width + key_margin*2)*3 */
}

.selector .selection, .selector .control {
	font-size: 27px; /* round(key_size*2/3) */
	font-family: "標楷體";
	height: 40px; /* key_size */
	width: 40px; /* key_size */
}

.selector .control {
	width: 120px; /* ctrlkey_width */
}
