.keyboard {
	display: block;
	margin: 0px auto 0px auto;
	width: 744px; /* (key.width + 2*row.margin)*11 + 2*key.width/3 */
}

.keyboard .row1 {
	margin: 2px 0px 2px 0px;
}
.keyboard .row2 {
	margin: 2px 0px 2px 20px; /* key.width/3 */
}
.keyboard .row3 {
	margin: 2px 0px 2px 40px;
}
.keyboard .row4 {
	margin: 2px 0px 2px 60px;
}
.keyboard .row5 {
	margin: 2px auto 2px auto;
	width: 720px;
}


.keyboard .key, .keyboard .control {
	font-size: 40px;
	font-family: "標楷體";
	height: 60px;
	width: 60px;
}

#key_space {
	width: 300px;
}

#key_up, #key_down, #key_left, #key_right {
	width: 100px;
}


/* color setting */

/*zhuyin*/
#ㄅ, #ㄆ, #ㄇ, #ㄈ {
	background-color: Lime;
}
#ㄉ, #ㄊ, #ㄋ, #ㄌ {
	background-color: LightGreen;
}
#ㄍ, #ㄎ, #ㄏ {
	background-color: Lime;
}
#ㄐ, #ㄑ, #ㄒ {
	background-color: LightGreen;
}
#ㄓ, #ㄔ, #ㄕ, #ㄖ {
	background-color: Orchid;
}
#ㄗ, #ㄘ, #ㄙ {
	background-color: Plum;
}
#ㄧ, #ㄨ, #ㄩ {
	background-color: Yellow;
}
#ㄚ, #ㄛ, #ㄜ, #ㄝ {
	background-color: Orange;
}
#ㄞ, #ㄟ, #ㄠ, #ㄡ {
	background-color: PeachPuff;
}
#ㄢ, #ㄣ, #ㄤ, #ㄥ {
	background-color: Orange;
}
#ㄦ {
	background-color: PeachPuff;
}

/*tone*/
#ˇ, #ˋ, #ˊ, #˙ {
	background-color: LightGray;
}

/*others keys*/
#key_space {
	background-color: LightGray;
}

#key_back {
	background-color: Red;
}

#key_dot {
	background-color: SaddleBrown;
}

#key_up, #key_down, #key_left, #key_right {
	background-color: Blue;
}

