.selector {
	display: none;
	margin: 2px auto;
	width: 704px; /* (selection.width + 2*row.margin)*11 */
}

.selector .row {
	margin: 2px auto;
}
.selector .row5 {
	margin: 2px auto;
}

.selector .selection {
	font-size: 40px;
	font-family: "標楷體";
	height: 60px;
	width: 60px;
}
