.selector {
	display: none;
	margin: 0px auto 0px auto;
	width: 704px; /* (selection.width + 2*row.margin)*11 */
}

.selector .row {
	margin: 2px 0px 2px 0px;
}
.selector .row5 {
	margin: 2px auto 2px auto;
	width: 552px; /* (control.width + 2*row.margin)*3 */
}

.selector .selection {
	font-size: 40px;
	font-family: "標楷體";
	height: 60px;
	width: 60px;
}

.selector .control {
	font-size: 40px;
	font-family: "標楷體";
	height: 60px;
	width: 180px;
}
